<!--<mat-expansion-panel *ngFor="let recipe of recipes">-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>-->
<!--<h3>{{ recipe.title }}</h3>-->
<!--</mat-panel-title>-->
<!--</mat-expansion-panel-header>-->

<!--</mat-expansion-panel>-->

<mat-toolbar color="primary" class="toolbar">My App</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="true" class="side">
    <div *ngFor="let recipe of recipes">
      <div (click)="select(recipe)" class="side-item"
           [ngClass]="{'highlighted': !!(selected.title === recipe.title) }">
        {{ recipe.title }}
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <div [innerHtml]="selected.description"></div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let page of selected.codeExample">
          <span> {{ page.description }} </span>
          <br>
          <span> <b>{{ page.pageType }} </b> </span>
          <pre>
              <code class="language-typescript">{{page.code}}</code>
          </pre>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
