.toolbar {
}

.example-container {
  height: 90vh !important;
}

.side {
  width: 25%;
  height: 100%;
  padding: 20px 15px 0 15px;
}

.side-item {
  cursor: pointer;
  padding: 10px;
}

.content {
  width: 72%;
  height: 100%;
}

.highlighted {
  border: #0077aa 1px solid;
}
